@import '../../../Style/Style.scss';

.services {
    font-size: 20px;
    color: $main-text-collor;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 60%;

        h4 {
            text-align: center;
            margin: 0px 0px 40px 0px;
            font-size: 28px;
            color: $logo-collor;
        }

        .block1 {
            margin-bottom: 20px;
        }

        .block2 {
            margin-bottom: 20px;
        }
    }
}