@import '../../../Style/Style.scss';

.aboutUs {
    color: $main-text-collor;
    font-size: 20px;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 60%;
        padding: 20px;

        .btnBack {
            float: right;
            font-size: 14px;
            background: none;
            border: none;
            color: $main-text-collor ;
        }

        .btnBack:hover {
            transform: scale(1.1);
            cursor: pointer;
            transition: 300ms;
        }

        h4 {
            text-align: center;
            margin: 0px 0px 20px 0px;
            font-size: 28px;
            color: $logo-collor;
        }

        .block1 {
            div {
                margin-bottom: 10px;
            }
        }

        .block2 {
            span {
                float: right;

                svg {
                    margin-left: 5px;
                }
            }
        }
    }

}