@import '../../../Style/Style.scss';

.contacts {
    display: flex;
    justify-content: center;

    .wrapper {
        width: 60%;
        margin: 50px 0px;

        .btnBack {

            float: right;
            font-size: 14px;
            background: none;
            border: none;
            color: $main-text-collor ;
        }

        .btnBack:hover {
            transform: scale(1.1);
            cursor: pointer;
            transition: 300ms;
        }
    }
}